<div class="bg">
  <mat-card class="login-card">
    <mat-card-content>
        <h1 class="title">UniM: Link Accounts</h1>
        <a href="https://slack.com/" target="_blank" class="item-pad"><mat-icon class="align-icon">message</mat-icon>Slack</a>
        <a href="https://messenger.com" target="_blank" class="item-pad"><mat-icon class="align-icon">question_answer</mat-icon>FB Messenger</a>
        <a href="https://www.whatsapp.com" target="_blank" class="item-pad"><mat-icon class="align-icon">speaker_notes</mat-icon>WhatsApp</a>
        <a href="https://mail.google.com" target="_blank" class="item-pad"><mat-icon class="align-icon">email</mat-icon>Gmail</a>
        <br/>
        <button mat-raised-button color="primary" type="submit" class="list-bottom" (click)="continue()">Continue</button>
    </mat-card-content>
  </mat-card>
</div>
