<mat-card>
  <mat-card-title>Alerts</mat-card-title>
  <mat-divider></mat-divider>
  
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit repellendus expedita saepe necessitatibus, placeat nostrum pariatur iure, rerum sapiente a nesciunt laborum animi veniam vitae non ullam sed provident.</p>
  </mat-card-content>

  <mat-divider mat-inset></mat-divider>
  <mat-card-actions>
    <div layout="row" layout-align="end center">
      <button mat-raised-button color="primary">Click</button>
    </div>
  </mat-card-actions>
</mat-card>
