<td-layout *ngIf="loggedIn == false">
  <mat-card class="login-card">
    <mat-card-content>
        <h1>Please login to continue</h1>
        <mat-input-container class="full-width-input">
          <input matInput placeholder="User">
        </mat-input-container>
        <br/>
        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Password">
        </mat-input-container>
        <br/>
        <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
        <button mat-raised-button color="accent" type="submit" (click)="registerAccount()">Register</button>
    </mat-card-content>
  </mat-card>
</td-layout>
<td-layout #layout *ngIf="loggedIn == true">
  <td-layout-nav-list #navList [sidenavWidth]="'257px'">
    <div td-sidenav-toolbar-content layout="row" flex>
      <h1 class="title-align">UniM</h1>
      <span flex></span>
      <div>
        <button mat-icon-button (click)="openSettings()"><mat-icon>settings</mat-icon></button>
      </div>
    </div>
    <mat-nav-list td-sidenav-content>
      <a mat-list-item (click)="openPriorities()"><mat-icon mat-list-icon>add_circle_outline</mat-icon> Create a New Priority</a>
      <a mat-list-item><mat-checkbox>Work</mat-checkbox></a>
      <a mat-list-item><mat-checkbox>Home</mat-checkbox></a>
      <a mat-list-item><mat-checkbox>Jira</mat-checkbox></a>
      <a mat-list-item><mat-checkbox>Important</mat-checkbox></a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>WORK</h3>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1]">
        <a mat-list-item>
          <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
          <h3 mat-line> Firstname Lastname</h3>
          <p mat-line>Message Preview</p>
          <mat-icon class="tc-amber-800">fiber_new</mat-icon>
        </a>
      </ng-template>
      <mat-divider></mat-divider>
      <h3 mat-subheader>HOME</h3>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3]">
        <a mat-list-item>
          <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
          <h3 mat-line> Firstname Lastname </h3>
          <p mat-line>Message Preview</p>
        </a>
      </ng-template>
      <mat-divider></mat-divider>
      <h3 mat-subheader>IMPORTANT</h3>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6]">
        <a mat-list-item>
          <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
          <h3 mat-line> Firstname Lastname </h3>
          <p mat-line>Message Preview</p>
          <mat-icon class="tc-amber-800">fiber_new</mat-icon>
        </a>
      </ng-template>
    </mat-nav-list>
    <a mat-fab td-sidenav-content color="accent" class="mat-fab-position-bottom-right fab-new" (click)="handleNewMessage()"> 
      <mat-icon>add</mat-icon>
    </a>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
        <div class="cursor-hover">Dhruhin Kurli via WhatsApp</div>
      <span flex></span>
      <td-search-box placeholder="" [showUnderline]="false"></td-search-box>
      <button mat-icon-button matTooltip="Show User Details" (click)="channelInfo.toggle()"><mat-icon>more_vert</mat-icon></button>
    </div>
    <mat-sidenav-container fullscreen>
      <mat-sidenav #channelInfo mode="side" align="end">
        <div layout="column" layout-fill>
          <mat-toolbar>
            <span>About Dhruhin Kurli</span>
            <span flex></span>
            <button mat-icon-button (click)="channelInfo.toggle()"><mat-icon>cancel</mat-icon></button>
          </mat-toolbar>
          <button mat-button (click)="modifyPriorities()"><mat-icon>compare</mat-icon>Modify Priority</button>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
    <td-layout-footer-inner class="padding-align">
      <div layout="row" layout-align="start center">
        <div>
          <td-file-input #fileInput [(ngModel)]="files" multiple>
            <button mat-icon-button matTooltip="Attach File" matTooltipPosition="after"><mat-icon>attach_file</mat-icon></button>
          </td-file-input>
        </div>
        <emoji-input [popupAnchor]="'bottom'" flex id="messageInput"></emoji-input>
        <div>
          <button mat-icon-button matTooltip="Send" matTooltipPosition="before"><mat-icon>send</mat-icon></button>
        </div>
      </div>
    </td-layout-footer-inner>
  </td-layout-nav-list>
</td-layout>
