.padding-align {
	padding: 0px 0px;
}

.title-align {
	margin-top: 5px;
}

.fab-new {
	bottom: 20px;
	position: fixed;
}

.login-card {
	width: 50%;
    margin: auto;
    margin-top: 50px;
    min-height: 300px;
    text-align: center;
}