.padding-align {
	padding: 0px 0px;
}

.title-align {
	margin-top: 5px;
}

.fab-new {
	bottom: 20px;
	position: fixed;
}

.login-card {
	width: 50%;
    margin: auto;
    margin-top: 50px;
    min-height: 300px;
    text-align: center;
}

.user-message{
	margin-left:auto;
	margin-right:0;
}

.accounts-head {
	margin-left: 8px;
}

.info {
	font-size: 20px;
    margin-left: 8px;
    vertical-align: top;
}

.smart-toggle {
    float: right;
    margin-top: 17px;
    margin-right: 16px;
}

.inline {
	display: inline-block;
}

.unread-badge {
	padding: 1px 9px 2px;
	font-size: 12.025px;
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	background-color: #b94a48;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin-left: 4px;
}

.side-button {
	text-align: left;
}

.icon-align {
	margin-right: 8px;
}

.label-change-header {
	margin-top: 8px;
	margin-left: 16px;
	margin-bottom: 0px;
}

.img-av {
	margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}