.padding-align {
	padding: 0px 0px;
}

.title-align {
	margin-top: 5px;
}

.fab-new {
	bottom: 20px;
	position: fixed;
}

.login-card {
	width: 50%;
    margin: auto;
    margin-top: 50px;
    min-height: 300px;
    text-align: center;
}

.user-message{
	margin-left:auto;
	margin-right:0;
}

.accounts-head {
	margin-left: 8px;
}

.info {
	font-size: 20px;
    margin-left: 8px;
    vertical-align: top;
}

.smart-toggle {
    float: right;
    margin-top: 17px;
    margin-right: 16px;
}

.inline {
	display: inline-block;
}