<td-layout #layout>
 <td-navigation-drawer flex sidenavTitle="Settings" [name]="userData.firstname + ' ' + userData.lastname" [email]="userData.email">
    <mat-nav-list>
      <p class="accounts-head inline"><strong>Smart Priority</strong><mat-icon matTooltip="Enable this if you want the app to autonomously determine the priority of your conversations" matTooltipPosition="after" class="info">info</mat-icon></p>
      <mat-slide-toggle class="inline smart-toggle" [(ngModel)]="smartMode"></mat-slide-toggle>
      <mat-divider></mat-divider>
      <p class="accounts-head"><strong>Connected Accounts</strong></p>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://slack.com/" target="_blank"><mat-icon>message</mat-icon>Slack</a>
      <a mat-list-item href="https://messenger.com" target="_blank"><mat-icon>question_answer</mat-icon>FB Messenger</a>
      <a mat-list-item href="https://www.whatsapp.com" target="_blank"><mat-icon>speaker_notes</mat-icon>WhatsApp</a>
      <a mat-list-item href="https://mail.google.com" target="_blank"><mat-icon>email</mat-icon>Gmail</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Sign Out</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav-list #navList
    toolbarTitle="UniM"
    [opened]="media.registerQuery('gt-xs') | async"
    [mode]="(media.registerQuery('gt-xs') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
    <span>Dhruhin Kurli via WhatsApp</span>
    <span flex></span>
    <td-search-box #searchBox class="pull-top-sm pull-bottom-sm" placeholder="" (search)="searchTerm = $event">
    </td-search-box>
    <button mat-icon-button matTooltip="Show User Details" (click)="channelInfo.toggle()"><mat-icon>more_vert</mat-icon></button>
  </div>
  <mat-nav-list td-sidenav-content>
      <a mat-list-item (click)="openPriorities()" *ngIf="!smartMode"><mat-icon mat-list-icon>add_circle_outline</mat-icon> Create a New Label</a>
      <a mat-list-item *ngIf="!smartMode"><mat-checkbox [(ngModel)]="workFilter">Work</mat-checkbox></a>
      <a mat-list-item *ngIf="!smartMode"><mat-checkbox [(ngModel)]="homeFilter">Home</mat-checkbox></a>
      <a mat-list-item *ngIf="!smartMode"><mat-checkbox [(ngModel)]="importantFilter">Important</mat-checkbox></a>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="newLabels">
          <a mat-list-item *ngIf="!smartMode"><mat-checkbox>{{newLabels[i]}}</mat-checkbox></a>
      </ng-template>
      <mat-divider *ngIf="!smartMode"></mat-divider>
      <span *ngIf="smartMode || workFilter || (!workFilter && !homeFilter && !importantFilter)">
        <h3 mat-subheader *ngIf="!smartMode">WORK</h3>
        <h3 mat-subheader *ngIf="smartMode">HIGH PRIORITY</h3>
        <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1]">
          <a mat-list-item (click)="shuffleMessages(); !media.query('gt-sm') && navList.close()">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
            <h3 mat-line>{{randusers[i]}}</h3>
            <p mat-line>{{randomwords[i]}}</p>
            <mat-icon class="tc-amber-800">fiber_new</mat-icon>
          </a>
        </ng-template>
        <mat-divider></mat-divider>
      </span>
      <span *ngIf="smartMode || homeFilter || (!workFilter && !homeFilter && !importantFilter)">
        <h3 mat-subheader *ngIf="!smartMode">HOME</h3>
        <h3 mat-subheader *ngIf="smartMode">MEDIUM PRIORITY</h3>
        <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3]">
          <a mat-list-item (click)="shuffleMessages(); !media.query('gt-sm') && navList.close()">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i + 2}}" />
            <h3 mat-line>{{randusers[i + 2]}}</h3>
            <p mat-line>{{randomwords[i + 2]}}</p>
          </a>
        </ng-template>
        <mat-divider></mat-divider>
      </span>
      <span *ngIf="smartMode || importantFilter || (!workFilter && !homeFilter && !importantFilter)">
        <h3 mat-subheader *ngIf="!smartMode">IMPORTANT</h3>
        <h3 mat-subheader *ngIf="smartMode">LOW PRIORITY</h3>
        <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6]">
          <a mat-list-item (click)="shuffleMessages(); !media.query('gt-sm') && navList.close()">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
            <h3 mat-line>{{randusers[i + 6]}}</h3>
            <p mat-line>{{randomwords[i + 6]}}</p>
            <mat-icon class="tc-amber-800">fiber_new</mat-icon>
          </a>
        </ng-template>
        <mat-divider></mat-divider>
      </span>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="newLabels">
          <h3 mat-subheader *ngIf="!smartMode && (!workFilter && !homeFilter && !importantFilter)">{{newLabels[i]}}</h3>
          <mat-divider></mat-divider>
      </ng-template>

    </mat-nav-list>
  <a mat-fab td-sidenav-content color="accent" class="mat-fab-position-bottom-right fab-new" (click)="!media.query('gt-sm') && navList.close(); handleNewMessage()"> 
    <mat-icon>add</mat-icon>
  </a>
  <mat-sidenav-container tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" fullscreen>
     <mat-sidenav #channelInfo mode="side" align="end">
        <div layout="column" layout-fill>
          <mat-toolbar>
            <span>About Dhruhin Kurli</span>
            <span flex></span>
            <button mat-icon-button (click)="channelInfo.toggle()"><mat-icon>cancel</mat-icon></button>
          </mat-toolbar>
          <button class="side-button" mat-button (click)="modifyPriorities()"><mat-icon class="icon-align">compare</mat-icon>Modify Priority</button>
          <button class="side-button" mat-button (click)="openTab('https://slack.com/')"><mat-icon class="icon-align">message</mat-icon>via Slack <span class="unread-badge">2</span></button>
          <button class="side-button" mat-button (click)="openTab('https://messenger.com')"><mat-icon class="icon-align">question_answer</mat-icon>via FB Messenger <span class="unread-badge">3</span></button>
          <button class="side-button" mat-button (click)="openTab('https://www.whatsapp.com')"><mat-icon class="icon-align">speaker_notes</mat-icon>via WhatApp <span class="unread-badge">1</span></button>
          <button class="side-button" mat-button (click)="openTab('https://mail.google.com')"><mat-icon class="icon-align">email</mat-icon>via Gmail <span class="unread-badge">7</span></button>
        </div>
      </mat-sidenav>
     <mat-list>
        <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="messages | filterBy: searchTerm">
            <mat-list-item>
              <mat-chip-list *ngIf="i % 2 == 0" class="user-message">
                <mat-chip color="accent" selected="true">{{messages[i]}}</mat-chip>
              </mat-chip-list>
              <mat-chip-list *ngIf="i % 2 == 1">
                <mat-chip color="primary" selected="true">{{messages[i]}}</mat-chip>
              </mat-chip-list>
            </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-sidenav-container>
    <td-layout-footer-inner class="padding-align">
      <div layout="row" layout-align="start center">
        <div>
          <td-file-input #fileInput [(ngModel)]="files" multiple>
            <button mat-icon-button matTooltip="Attach File" matTooltipPosition="after"><mat-icon>attach_file</mat-icon></button>
          </td-file-input>
        </div>
          <emoji-input [popupAnchor]="'bottom'" flex id="messageInput"></emoji-input>
        <div>
          <button mat-icon-button matTooltip="Send" matTooltipPosition="before" (click)="sendMessage($event)"><mat-icon>send</mat-icon></button>
        </div>
      </div>
    </td-layout-footer-inner>
</td-layout-nav-list>
</td-layout>