<td-layout #layout>
 <td-navigation-drawer flex sidenavTitle="Settings" [name]="userData.firstname + ' ' + userData.lastname" [email]="userData.email">
    <mat-nav-list>
      <p class="accounts-head inline"><strong>Smart Priority</strong><mat-icon matTooltip="Enable this if you want the app to autonomously determine the priority of your conversations" matTooltipPosition="after" class="info">info</mat-icon></p>
      <mat-slide-toggle class="inline smart-toggle" [(ngModel)]="smartMode"></mat-slide-toggle>
      <mat-divider></mat-divider>
      <p class="accounts-head"><strong>Connected Accounts</strong></p>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://slack.com/" target="_blank"><mat-icon>message</mat-icon>Slack</a>
      <a mat-list-item href="https://messenger.com" target="_blank"><mat-icon>question_answer</mat-icon>FB Messenger</a>
      <a mat-list-item href="https://www.whatsapp.com" target="_blank"><mat-icon>speaker_notes</mat-icon>WhatsApp</a>
      <a mat-list-item href="https://mail.google.com" target="_blank"><mat-icon>email</mat-icon>Gmail</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="openEdit()"><mat-icon>mode_edit</mat-icon>Edit Profile</a>
      <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Sign Out</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav-list #navList
    toolbarTitle="UniM"
    [opened]="media.registerQuery('gt-xs') | async"
    [mode]="(media.registerQuery('gt-xs') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
    <span>{{currentView}} via {{currentPlatform}}</span>
    <span flex></span>
    <td-search-box #searchBox class="pull-top-sm pull-bottom-sm" placeholder="" [debounce]="100" (searchDebounce)="searchTerm.message = $event" (search)="searchTerm.message = $event" (clear)="searchTerm.message = ''">
    </td-search-box>
    <button mat-icon-button matTooltip="Show User Details" (click)="channelInfo.toggle()"><mat-icon>more_vert</mat-icon></button>
  </div>
  <mat-nav-list td-sidenav-content>
      <a mat-list-item (click)="openPriorities()" *ngIf="!smartMode"><mat-icon mat-list-icon>add_circle_outline</mat-icon> Create a New Label</a>
      <a mat-list-item *ngIf="!smartMode"><mat-checkbox [(ngModel)]="workFilter">Work</mat-checkbox></a>
      <a mat-list-item *ngIf="!smartMode"><mat-checkbox [(ngModel)]="homeFilter">Home</mat-checkbox></a>
      <a mat-list-item *ngIf="!smartMode"><mat-checkbox [(ngModel)]="importantFilter">Important</mat-checkbox></a>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="newLabels">
          <a mat-list-item *ngIf="!smartMode"><mat-checkbox>{{newLabels[i].title}}</mat-checkbox></a>
      </ng-template>
      <mat-divider *ngIf="!smartMode"></mat-divider>
      <td-search-box #searchBox class="pull-top-sm pull-bottom-sm" placeholder="Search Recipients" [debounce]="100" (searchDebounce)="searchRecipients = $event" (search)="searchRecipients = $event" (clear)="searchRecipients= ''" [alwaysVisible]="true">
    </td-search-box>
    <mat-divider></mat-divider>
      <span *ngIf="smartMode || workFilter || (!workFilter && !homeFilter && !importantFilter)">
        <h3 mat-subheader *ngIf="!smartMode">WORK</h3>
        <h3 mat-subheader *ngIf="smartMode">HIGH PRIORITY</h3>
          <a mat-list-item *ngFor="let user of firstUsers | filterBy: searchRecipients; let i = index" (click)="shuffleMessages(firstUsers[i], i); !media.query('gt-sm') && navList.close(); currentList = 2">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
            <h3 mat-line>{{user}}</h3>
            <p mat-line>{{randomwords[i]}}</p>
            <mat-icon class="tc-amber-800">fiber_new</mat-icon>
          </a>
        <mat-divider></mat-divider>
      </span>
      <span *ngIf="smartMode || homeFilter || (!workFilter && !homeFilter && !importantFilter)">
        <h3 mat-subheader *ngIf="!smartMode">HOME</h3>
        <h3 mat-subheader *ngIf="smartMode">MEDIUM PRIORITY</h3>
          <a mat-list-item *ngFor="let user of secondUsers | filterBy: searchRecipients; let i = index" (click)="shuffleMessages(secondUsers[i], i); !media.query('gt-sm') && navList.close(); currentList = 2">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i + 2}}" />
            <h3 mat-line>{{user}}</h3>
            <p mat-line>{{randomwords[i + 2]}}</p>
          </a>
        <mat-divider></mat-divider>
      </span>
      <span *ngIf="smartMode || importantFilter || (!workFilter && !homeFilter && !importantFilter)">
        <h3 mat-subheader *ngIf="!smartMode">IMPORTANT</h3>
        <h3 mat-subheader *ngIf="smartMode">LOW PRIORITY</h3>
          <a mat-list-item *ngFor="let user of thirdUsers | filterBy: searchRecipients; let i = index" (click)="shuffleMessages(thirdUsers[i], i); !media.query('gt-sm') && navList.close(); currentList = 3">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
            <h3 mat-line>{{user}}</h3>
            <p mat-line>{{randomwords[i + 6]}}</p>
            <mat-icon class="tc-amber-800">fiber_new</mat-icon>
          </a>
        <mat-divider></mat-divider>
      </span>
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="newLabels">
          <h3 mat-subheader *ngIf="!smartMode && (!workFilter && !homeFilter && !importantFilter)">{{newLabels[i].title}}</h3>
          <a mat-list-item *ngFor="let user of newLabels[i].values | filterBy: searchRecipients; let y = index" (click)="shuffleMessages(user, y); !media.query('gt-sm') && navList.close(); currentList = i + 4">
            <img mat-list-avatar src="http://lorempixel.com/40/40/people/{{i}}" />
            <h3 mat-line>{{user}}</h3>
            <p mat-line>{{randomwords[y]}}</p>
            <mat-icon class="tc-amber-800">fiber_new</mat-icon>
          </a>
          <mat-divider></mat-divider>
      </ng-template>

    </mat-nav-list>
  <a mat-fab td-sidenav-content color="accent" class="mat-fab-position-bottom-right fab-new" (click)="!media.query('gt-sm') && navList.close(); handleNewMessage()"> 
    <mat-icon>add</mat-icon>
  </a>
  <mat-sidenav-container tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" fullscreen>
     <mat-sidenav #channelInfo mode="side" align="end">
        <div layout="column" layout-fill>
          <mat-toolbar>
            <span>About {{currentView}}</span>
            <span flex></span>
            <button mat-icon-button (click)="channelInfo.toggle()"><mat-icon>cancel</mat-icon></button>
          </mat-toolbar>
          <img class="img-av" src="http://lorempixel.com/100/100/people/{{currentImage}}" />
          <button class="side-button" mat-button (click)="switchPlatform('Slack')"><mat-icon class="icon-align">message</mat-icon>via Slack <span class="unread-badge">2</span></button>
          <button class="side-button" mat-button (click)="switchPlatform('FB Messenger')"><mat-icon class="icon-align">question_answer</mat-icon>via FB Messenger <span class="unread-badge">3</span></button>
          <button class="side-button" mat-button (click)="switchPlatform('WhatsApp')"><mat-icon class="icon-align">speaker_notes</mat-icon>via WhatApp <span class="unread-badge">1</span></button>
          <button class="side-button" mat-button (click)="switchPlatform('Gmail')"><mat-icon class="icon-align">email</mat-icon>via Gmail <span class="unread-badge">7</span></button>
          <mat-divider></mat-divider>
          <h5 class="label-change-header" *ngIf="!smartMode">CHANGE LABEL</h5>
          <mat-radio-group class="label-change-header" (change)="changeLabel($event)">
            <mat-radio-button value="1" [checked]="currentList == 1">Work</mat-radio-button>
            <br />
            <mat-radio-button value="2" [checked]="currentList == 2">Home</mat-radio-button>
            <br />
            <mat-radio-button value="3" [checked]="currentList == 3">Important</mat-radio-button>
            <br />
            <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="newLabels">
              <mat-radio-button value={{i+4}}>{{newLabels[i].title}}</mat-radio-button>
              <br />
          </ng-template>
          </mat-radio-group>
        </div>
      </mat-sidenav>
     <mat-list id="messageList">
            <mat-list-item *ngFor="let message of messages | filterBy: searchTerm">
              <mat-chip-list *ngIf="message.user == true" class="user-message">
                <mat-chip color="accent" selected="true">{{message.message}}</mat-chip>
              </mat-chip-list>
              <mat-chip-list *ngIf="message.user == false">
                <mat-chip color="primary" selected="true">{{message.message}}</mat-chip>
              </mat-chip-list>
            </mat-list-item>
      </mat-list>
    </mat-sidenav-container>
    <td-layout-footer-inner class="padding-align">
      <div layout="row" layout-align="start center">
        <div>
          <td-file-input #fileInput [(ngModel)]="files" multiple>
            <button mat-icon-button matTooltip="Attach File" matTooltipPosition="after"><mat-icon>attach_file</mat-icon></button>
          </td-file-input>
        </div>
          <emoji-input [popupAnchor]="'bottom'" flex id="messageInput" [(model)]="messageText"></emoji-input>
        <div>
          <button mat-icon-button matTooltip="Send" matTooltipPosition="before" (click)="sendMessage()"><mat-icon>send</mat-icon></button>
        </div>
      </div>
    </td-layout-footer-inner>
</td-layout-nav-list>
</td-layout>